:root{
    --main-font: "Roboto", Tahoma, sans-serif;
    --secondary-font: "Raleway", Tahoma, sans-serif;
    --accent-color:#2196F3;
    --font-color:#212121;
    --secondary-font-color:#757575;
    --hero-text:#FFFFFF;
    --hero-background-color: #C4C4C4;
    --hero-but-background-color: #188CE8;
    --header-background-color:#FFFFFF;
    --header-logo-secondary-color: #000000;
    --specialist-section-background-color: #F5F4FA;
    --specialist-item-background-color: #FFFFFF;
    --project-item-background-color:#FFFFFF;
    --footer-background-color: #2F303A;
    --footor-logo-secondary-color:#FFFFFF;
    --footer-map-color: #FFFFFF;
    --footer-tel-color: rgba(255, 255, 255, 0.6);
    --modal-background-color:#FFFFFF;
    --typical-padding: 94px;
    --icon-color: #AFB1B8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden:not(focus):not(active) {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: var(--main-font);
    color: var(--font-color);
}

/*--------------------скидання------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*--------------------studia------------------*/
/*--------------------header------------------*/

.header{
    background-color:var(--header-background-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header .container{
    display: flex;
    align-items: center;
}

.header-logo{
    font-family:var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 94px;
}

.logo-primary{
    color: var(--accent-color);
}

.logo-secondary{
    color:var(--header-logo-secondary-color);
}

.header-list{
    display: flex;
}

.header-item:not(:last-child){
    margin-right: 50px;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-color);
    transition: color var(--transition-duration) 
    var(--transition-timing-function);
    padding-bottom: 32px;
    padding-top: 32px;
}

.header-link:hover, .header-link:focus{
    color: var(--accent-color);
}

.current{
    color: var(--accent-color);
    position: relative;
}

.current::after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;    
}

.header .list{
    display: flex;
    margin-left: auto;
}

.header-connection+.header-connection{
    margin-left: 50px;
}

.header-connection{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-font-color); 
    display: flex;
    align-items: center;
    transition: color var(--transition-duration) 
    var(--transition-timing-function);
}

.header-connection:hover, .header-connection:focus{
    color: var(--accent-color);
}

.mail-icon, .tel-icon{
    fill: var(--secondary-font-color);
    margin-right: 10px;
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.header-connection:hover .mail-icon,
.header-connection:focus .mail-icon,
.header-connection:hover .tel-icon,
.header-connection:focus .tel-icon{
    fill: var(--accent-color);
}
/*----------------------hero---------------------*/

.hero{
    background-color: var(--hero-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1600 px;
    min-height: 480px;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--hero-text);
    text-transform: uppercase;
    text-align: center;
    width: 696px;
    margin:0 auto 30px auto;
}

.hero-but{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-text);
    background-color: var(--accent-color);
    padding: 10px 32px;
    border-radius: 4px;
    border: 0;
    display: block;
    margin: 0 auto;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero-but:hover, .hero-but:focus{
    background-color:var(--hero-but-background-color);
    cursor: pointer;
}

/*--------------------functions------------------*/

.functions {
    padding-top: var(--typical-padding);
}

.functions-list{
    display: flex;
}

.functions-item{
    width: 270px;
    margin-right: 30px;
}

.functions-item:last-child{
    margin-right: 0px;
}

.functions-logo{
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: var(--specialist-section-background-color);
    border-radius: 4px;
}

.functions-caption{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.functions-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/*------------------------- work -----------------*/

.work{
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.work-list{
    display: flex;
    margin-left: -30px;
}

.work-item{
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    position: relative;
}

.work-label{
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
    display: block;
    position: absolute;
    bottom: 0;
}

.work-label-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text);
}
/*--------------------specialist------------------*/

.specialist {
    background-color: var(--specialist-section-background-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.specialist-list{
    display: flex;
    margin-left: -30px;
}

.specialist-item {
    background-color: var(--specialist-item-background-color);
    flex-basis: calc(100%/4-30px);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.specialist-aside{
    padding-top: 30px;
    padding-bottom: 30px;
}

.specialist-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.specialist-work{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
    text-align: center;
    margin-bottom: 16px;
}

.specialist-soc-list{
    display: flex;
    justify-content: center;
}

.specialist-soc-item + .specialist-soc-item{
    margin-left: 10px;
}

.specialist-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.specialist-soc-link:hover,
.specialist-soc-link:focus{
    background-color: var(--accent-color);
}

.specialist-soc-link:hover .specialist-soc-icon, 
.specialist-soc-link:focus .specialist-soc-icon{
    fill: #FFFFFF;
}

.specialist-soc-icon{
    fill: var(--icon-color);
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}

/* -------------------clients------------------ */
.clients {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.clients-title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    text-align: center;
}

.clients-list {
    display: flex;
}

.client-item:not(:last-child){
    margin-right: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border var(--transition-duration) 
    var(--transition-timing-function);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);
}

.client-icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--transition-duration) 
    var(--transition-timing-function);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill:var(--accent-color)
}

/*--------------------footer------------------*/

.footer{
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container{
    display: flex;
}

.footer .logo-secondary{
    color: var(--footor-logo-secondary-color);
}

.address{
    width: 231px;
    margin-top: 20px;
    margin-right: 70px;
}

.footer-list{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.footer-map{
    color: var(--footer-map-color);
    transition: color var(--transition-duration) 
    var(--transition-timing-function);
}

.footer-connection{
    color: var(--footer-tel-color);
    transition: color var(--transition-duration) 
    var(--transition-timing-function);
}

.footer-map:hover, .footer-map:focus,
.footer-connection:hover, .footer-connection:focus{
    color: var(--accent-color);
}

.footer-soc {
    width: 206px;    
}

.footer-soc-title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--footer-map-color);
}

.footer-soc-list {
    display: flex;
    justify-content: space-between;
}

.footer-soc-item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.footer-soc-link:focus,
.footer-soc-link:hover {
    background-color: var(--accent-color);
}

.footer-soc-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}


/*--------------------portfolio------------------*/

.portfolio{
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}
/*--------------------filter------------------*/
.filter-list{
    display: flex;
    justify-content: center;
}

.filter-item{
    padding-bottom: 20px;
}
.filter-item:not(:last-child){
    margin-right: 8px;
}

.filter-but {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--specialist-section-background-color);
    padding: 6px 22px;
    display: block;
    border-radius: 4px;
    border: 0px;
    transition: color var(--transition-duration) 
    var(--transition-timing-function), 
    background-color var(--transition-duration) var(--transition-timing-function), 
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-but:hover, .filter-but:focus{
    color: var(--specialist-item-background-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------------project------------------*/

.project-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.project-item {
    width: 370px;
    background: var(--project-item-background-color);
    flex-basis: calc(100%/3-30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    transition: box-shadow var(--transition-duration) 
    var(--transition-timing-function);
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .project-top-text {
    transform: translateY(0%);
}
.project-top-wrap{
    position: relative;
    overflow: hidden;
}

.project-top-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-text);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%); 
    transition: transform var(--transition-duration) 
    var(--transition-timing-function);
    overflow: auto;
}

.project-aside{
    padding: 20px 24px;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/*---------------modal-hero-studia---------------*/
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) 
    var(--transition-timing-function), 
    visibility var(--transition-duration) 
    var(--transition-timing-function);
}

.backdrop.is-hidden .modal{
    transform: scale(0.8);
}

.modal{
    position: absolute;
    width: 528px;
    height: 581px;
    background: var(--modal-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.modal-close-but{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modal-close-icon{
    fill: var(--header-logo-secondary-color);
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}