/*--------------------studia------------------*/
/*--------------------header------------------*/



/*----------------------hero---------------------*/



/*--------------------skills------------------*/



/*------------------------- PRODUCTS -----------------*/



/*--------------------specialist------------------*/

.specialist {
    background-color: var(--specialist-section-background-color);
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.specialist__list {
    display: flex;
    margin-left: -30px;
}

.specialist__item {
    background-color: var(--specialist-item-background-color);
    flex-basis: calc(100% / 4-30px);
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.specialist__card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.specialist__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.specialist__profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item+.social-list__item {
    margin-left: 10px;
}

.social-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
    fill: #ffffff;
}

.social-list__icon {
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

/* -------------------clients------------------ */
.clients {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

.clients__list {
    display: flex;
}

.client__item:not(:last-child) {
    margin-right: 30px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border var(--transition-duration) var(--transition-timing-function);
}

.client__link:hover,
.client__link:focus {
    border: 1px solid var(--accent-color);
}

.client__icon {
    width: 106px;
    height: 60px;
    fill: var(--icon-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
    fill: var(--accent-color);
}

/*--------------------footer------------------*/

.footer {
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__container {
    display: flex;
    position: relative;
}



.address {
    width: 231px;
    margin-top: 20px;
    margin-right: 70px;
}

.address__list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__map {
    color: var(--footer-map-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__connection {
    color: var(--footer-tel-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
}

.address__map:hover,
.address__map:focus,
.address__connection:hover,
.address__connection:focus {
    color: var(--accent-color);
}

.footer-soc {
    width: 206px;
}

.footer-soc__title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--footer-map-color);
}

.footer-soc__list {
    display: flex;
    justify-content: space-between;
}

.footer-soc__item:not(:last-child) {
    margin-right: 10px;
}

.footer-soc__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-soc__link:focus,
.footer-soc__link:hover {
    background-color: var(--accent-color);
}

.footer-soc__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.footer-subscription {
    position: absolute;
    right: 15px;
    width: 570px;
    height: 86px;
}

.footer-subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text);
    margin-bottom: 20px;
}

.footer-subscription__form {
    display: flex;
    align-items: center;
}

.footer-subscription__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: inherit;
    color: var(--hero-text);
    border-radius: 4px;
    padding-left: 16px;
    margin-right: 12px;
    outline: none;
    transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.footer-subscription__input:focus {
    border-color: var(--accent-color);
}

.subscription-wrap {
    position: relative;
    display: inline-block;
}

.subscription-but {
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--hero-text);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    padding: 10px 62px 10px 29px;
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.subscription-but:hover,
.subscription-but:focus {
    background-color: var(--hero-but-background-color);
}

.footer-subscription__icon {
    fill: var(--hero-text);
    position: absolute;
    left: 148px;
    top: 13px;
}

/*--------------------portfolio------------------*/

.portfolio {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
}

/*--------------------filter------------------*/
.filter-list {
    display: flex;
    justify-content: center;
}

.filter-item {
    padding-bottom: 20px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-but {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--specialist-section-background-color);
    padding: 6px 22px;
    display: block;
    border-radius: 4px;
    border: 0px;
    transition: color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-but:hover,
.filter-but:focus {
    color: var(--specialist-item-background-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------------------project------------------*/

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.project-item {
    width: 370px;
    background: var(--project-item-background-color);
    flex-basis: calc(100% / 3-30px);
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item:hover .project-top-text {
    transform: translateY(0%);
}

.project-top-wrap {
    position: relative;
    overflow: hidden;
}

.project-top-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--hero-text);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    overflow: auto;
}

.project-aside {
    padding: 20px 24px;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

/*---------------modal-hero-studia---------------*/