.address {
    max-width: 232px;
    margin-top: 20px;
    // margin-right: 70px;

    &__list {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    &__item:not(:last-child) {
        margin-bottom: 8px;
        @media screen and (min-width: 1200px){
            margin-bottom: 9px;
        }
    }

    &__map {
        color: var(--footer-map-color);
        transition: color var(--transition-duration) var(--transition-timing-function);
            &:hover,
            &:focus{
                color: var(--accent-color);
            }
    }

    &__connection {
        color: var(--footer-tel-color);
        transition: color var(--transition-duration) var(--transition-timing-function);
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
    }
}
