.client {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        border: 1px solid var(--icon-color);
        box-sizing: border-box;
        border-radius: 4px;
        transition: border var(--transition-duration) var(--transition-timing-function);

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
    }

    &__icon {
        width: 106px;
        height: 60px;
        fill: var(--icon-color);
        transition: fill var(--transition-duration) var(--transition-timing-function);

        .client__link:hover &,
        .client__link:focus & {
            fill: var(--accent-color);
        }
    }
}