.client {
    &__list {
        margin-bottom: -30px;
        margin-left: -30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        margin-left: 30px;
        width: calc(100% / 2 - 30px);
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        max-width: 210px;
        height: 92px;
        border: 1px solid var(--icon-color);
        border-radius: 4px;
        transition: border var(--transition-duration) var(--transition-timing-function);
        
        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
    }

    &__icon {
        fill: var(--icon-color);
        transition: fill var(--transition-duration) var(--transition-timing-function);

        .client__link:hover &,
        .client__link:focus & {
            fill: var(--accent-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .client__item {
        width: calc(100% / 3 - 30px);
    }
    .client__link {
        width: 226px;
    }
}

@media screen and (min-width: 1200px) {
    .client__item {
        width: calc(100% / 6 - 30px);
    }
    .client__link {
        width: 170px;
    }
}