@media screen and (min-width: 768px){
    .current {
        color: var(--accent-color);
        position: relative;

        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-color);
            position: absolute;
            bottom: -1px;
        }
    }
}
