:root {
    --main-font: 'Roboto', Tahoma, sans-serif;
    --secondary-font: 'Raleway', Tahoma, sans-serif;
    --accent-color: #2196f3;
    --font-color: #212121;
    --secondary-font-color: #757575;
    --hero-text: #ffffff;
    --hero-background-color: #c4c4c4;
    --hero-but-background-color: #188ce8;
    --header-background-color: #ffffff;
    --header-logo-secondary-color: #000000;
    --specialist-section-background-color: #f5f4fa;
    --specialist-item-background-color: #ffffff;
    --project-item-background-color: #ffffff;
    --footer-background-color: #2f303a;
    --footor-logo-secondary-color: #ffffff;
    --footer-map-color: #ffffff;
    --footer-tel-color: rgba(255, 255, 255, 0.6);
    --modal-background-color: #ffffff;
    --icon-color: #afb1b8;
    --icon-modal-color: #212121;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}